/*
* Hannah Solge 
* Due Date
* Project Name and Description
*/

/* The university selector */

* {

}

/* Body attributes here */

body {
    background: #7E96C4
}
#trinidadbeaches{
    width: 400px;
    float:left;
    padding:20px;
}
br

#Trinidad{
    float:left;
    padding: 20px;
}